/* TODO: global colours */

/* general global styling */

body {
    background-color: var(--bg-dark);
    color: var(--fg-plain);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

::selection {
    background: var(--fg-plain);
}
